---
import "@fontsource-variable/source-code-pro";
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/css/index.css";

let { url, title, description, image } = Astro.props;
url || (url = import.meta.env.FRONTEND_URL);
title ||
  (title = "JS Technologies I Best Framework and Libreries for JavaScript");
description ||
  (description =
    "The best JavaScript frameworks and libraries for frontend web development that enable optimal use of HTML, CSS and JavaScript by Elliot Garamendi.");
image ||
  image ===
    "https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/768px-JavaScript-logo.png";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#0072ce"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#041e42"
    />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />
    <link rel="canonical" href={url} />
    <link rel="manifest" href="/manifest.json" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <ViewTransitions />
  </head>
  <body class="body">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js')
          .then((registration) => {
            console.log('Service Worker registrado con éxito:', registration);
          })
          .catch((error) => {
            console.log('Error al registrar el Service Worker:', error);
          });
      }
    </script>
  </body>
</html>
